.header {
  background-color: #014421;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: purple;
}


.home,
.paintbrush {
  composes: link from '~Components/Link/Link.css';
  width: 30px;
  color: purple;
  line-height: 60px;

  &:hover {
    color: pink;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
