<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Chrome, Opera, and Firefox OS -->
    <meta name="theme-color" content="#3a3f51" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3a3f51" />

    <meta name="description" content="BoozieBot" />

    <title>Boozie Bot</title>

    <!--
      The super basic styling for .root  will live here,
      saves fighting with CSS Modules for ~10 lines
    -->
    <style>
      .root {
        overflow: hidden;
        height: 100%; /* needed for proper layout */
      }

      @media only screen and (max-width: 768px) {
        .root {
          display: flex;
          flex-direction: column;
          min-height: 100%;
          height: auto;
        }
      }
    </style>
  </head>

  <body>
    <div id="portal-root"></div>
    <div id="root" class="root"></div>
  </body>

  <!-- webpack bundles body -->
</html>
